/*드래그앤 드롭*/
.upload-box {
    width: 100%;
    box-sizing: border-box;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .upload-box .drag-file {
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
  }
  .upload-box .drag-file.highlight {
    border: 3px dashed red;
  }
  .upload-box .drag-file .image {
    width: 40px;
  }
  .upload-box .drag-file .message {
    margin-bottom: 0;
  }
  .upload-box .drag-file .preview {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
  }

/*업로드 버튼*/
.file-label {
    margin-top: 30px;
    background-image: linear-gradient(#7191b3, #446e9b 50%, #3f658f);
    border: 1px solid #36587c;
    text-shadow: -1px -1px 0 rgb(0 0 0 / 10%);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 50%;
    border-radius: 6px;
    cursor: pointer;
  }
  .file {
    display: none;
  }




  /*multiple파일 업로드(이미지 미리보기)*/
  #att_zone{
    max-width: 900px;
    min-height:150px;
    padding:10px;
    border:1px dashed rgb(162, 162, 162);
    
  }
  #att_zone:empty:before{
    content : attr(data-placeholder);
    color : #999;
    font-size:.9em;
  }