.content-wrap{
    width: 100%;
    min-width: 1100px;
        }
    .search-box{
        width: 80%;
        height: 150px;
        background-color: rgba(241, 243, 248, 0.808);
        margin: 0 auto;
    }
    .type-btn{
        padding-top: 20px;
        padding-left: 20px;
        
    }
    .search-content{
        margin: 20px; 
    }
    
    .contentDiv{

     width: 80%;
     height: 1200px;

     margin: 0 auto;
    }
    .filter-wrap{
    width: 25%;
    height: 1000px;

    padding-top: 20px;
    float: left;
    min-width: 220px;
    }
    .search-list{
        width: 75%;

        height: 1000px;
        float: left;
    }
    
    .typeSelectWrap{
        width: 80%;
    margin: 0 auto;
    padding-top: 10PX;
    margin-bottom: 20px;
    }
    .selectType{
        width: 100%;
    }
    .typeSelectWrap{
    height: 200px;
    border-bottom: 1px solid  rgb(177, 195, 245);

    }
.type-filter>a{
    color: steelblue;
}

    .chkfilter{
        margin-left: 30px;
        border-bottom: 1px solid  rgb(177, 195, 245);
        padding-bottom: 10px;
    }
    .facility {
        margin-bottom: 20px;
    }
    .list-searched{
        width: 100%; 
        min-width: 880px;
        margin-top: 10px;

    }
    .search-list{

    }
    .search-list-one{
        display: flex;
        padding-bottom: 1px;
        border-bottom: 1px solid  rgb(177, 195, 245);
        margin-bottom: 5px;
    }
    .search-list-one-img{
        display: flex;
        width: 30%;
        max-width: 200px;
        height: 200px;
    }
    .search-list-one-img>img{
        border-radius: 10px;
    }
    .search-list-one-info{
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

    } 
    .search-list-one-title{
        margin-bottom: 10px;
        text-decoration: none;

    }
    .search-list-one-title>h5>a{
        text-decoration: none;
        color: steelblue;
    }
    .search-list-one-address{
        margin-bottom: 30px;

    }
    .search-list-one-price{
    
    }