<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.air.model.vo.Air" alias="air"/>
		<typeAlias type="kr.or.hostel.model.vo.Hostel" alias="h"/>
		<typeAlias type="kr.or.hostel.model.vo.HostelFile" alias="hf"/>
		<typeAlias type="kr.or.hostel.model.vo.HostelOption" alias="ho"/>
		<typeAlias type="kr.or.hostel.model.vo.ReservableRoom" alias="rvr"/>
		<typeAlias type="kr.or.companion.model.vo.Companion" alias="co"/>
		<typeAlias type="kr.or.report.model.vo.Report" alias="rp"/>
		<typeAlias type="kr.or.report.model.vo.BlackList" alias="bl"/>
		<typeAlias type="kr.or.chat.model.vo.ChatRoom" alias="cr"/>
		<typeAlias type="kr.or.chat.model.vo.Chat" alias="ch"/>
		<typeAlias type="kr.or.ticket.model.vo.Ticket" alias="t"/>
		<typeAlias type="kr.or.ticket.model.vo.TicketCategory" alias="tc"/>
		<typeAlias type="kr.or.ticket.model.vo.LocalCategory" alias="lc"/>
		<typeAlias type="kr.or.ticket.model.vo.TicketOption" alias="to"/>
		<typeAlias type="kr.or.ticket.model.vo.TicketFile" alias="tf"/>
		<typeAlias type="kr.or.question.model.vo.Question" alias="q"/>
		<typeAlias type="kr.or.comment.model.vo.Comment" alias="c"/>
		<typeAlias type="kr.or.pck.model.vo.Pck" alias="p"/>
		<typeAlias type="kr.or.pck.model.vo.FileVO" alias="f"/>
	</typeAliases>
</configuration>
