<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.member.model.vo.Member" alias="m"/>
		<typeAlias type="kr.or.package.model.vo.Package" alias="p"/>
		<typeAlias type="kr.or.air.model.vo.Air" alias="air"/>
		<typeAlias type="kr.or.hostel.model.vo.Hostel" alias="h"/>
		<typeAlias type="kr.or.companion.model.vo.Companion" alias="co"/>
		<typeAlias type="kr.or.chat.model.vo.Chat" alias="ch"/>
		<typeAlias type="kr.or.ticket.model.vo.Ticket" alias="t"/>
		
		
	</typeAliases>
</configuration>
