.naviH2{
    width: 100%;
    height: 60px;
    line-height: 50px;
    margin-bottom: 50px;
    text-align: left;
    border-bottom: 2px solid black;
}
.orderNavi>div{
    float: left;
}
.orderNavi{
    margin-top: 50px;
    width: 100%;
    height: 180px;
}
.orderNavi>div{
    width: calc(100%/7);
    height: 100%;
    text-align: center;
}
.orderDiv{
    border: 2px solid rgb(78, 71, 71);
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}
.orderDiv>div{
    height: 150px;
    line-height: 50px;
    margin-top: 10px;
}
.Proceeding{
    background-color: rgb(160, 160, 160);
    color: aliceblue;
}
.nextBar{
    font-size: 50px;
    line-height: 180px;
}

.airTableBase{
    width: 100%;
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.airTableBase table, th, td{
    text-align: center;
}
.airTableTitle{
    width: 100%;
    height: 50px;
    font-size: 22px;
    background-color: burlywood;
}
.airTableTitle>div{
    text-align: center;
    line-height: 50px;
}
.airTableTitleRoute{
    text-align: center;
}
.airTable{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.airTable tbody{
    height: 60px;
}
.airTable tr>td, th{
    width:calc(100%/7);
    font-size: 20px;
}
.airTable>thead{
    background-color: #B3BEF5;
}
.airTableST{
    margin-bottom: 50px;
}

.test_obj{
    width: 32%;
    height: 100%;
}
.test_obj>span{
    width: 100%;
    height: 100%;
    font-size: 25px;
}
.test_obj input[type="radio"] {
    display: none;
}
.test_obj input[type="radio"] + span {
    display: inline-block;
    border: 2px solid #dc3545;
    border-radius: 0.25rem;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    color: #dc3545;
}
.test_obj input[type="radio"]:checked + span {
    background-color: #dc3545;
    color: #ffffff;
}
.test_obj input[type="radio"]:hover + span{
    background-color: #dc3545;
    color: #ffffff;
}
.FrontDiv{
    width: 100%; 
    height:100px; 
    text-align: center;
}
.Line{
    width: 100%; 
    height:100px; 
    text-align: center;
}
.VipBlock{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 3px auto;
}
.VipSeat{
    width: 80px;
    height: 100px;
    float: left;
    content: url(/resources/upload/air/air_icon.png);
    cursor: pointer;
}
.VipBlank{
    float: left;
    width: calc(100% - 160px);
    height: 100%;
}
.VipDisable{
    width: 80px;
    height: 100px;
    float: left;
    content: url(/resources/upload/air/air_icon_3.png);
    cursor: pointer;
}
.Front{
    width: 50%;
    height: 40px;
    margin: auto;
    text-align: center;
    border: 2px solid red;
    font-size: 22px;
}
.Result{
    width: 100%;
    height: 80px;
    background-color: rgb(162, 162, 162);
    border: 1px solid black;
    display: flex;
}
.Result>div{
    color: #fff;
    font-size: 22px;
    margin: auto;
    margin-top: 20px;
    
}
.VipMenu{
    width: 100%; 
    height: 500px;
    display: none;
}
.BusinessMenu{
    width: 100%;
    height: 1000px;
    display: none;
}
.BusinessBlock{
    width: 33%;
    height: 100px;
    float: left;
    padding-left: 36px;
}
.BusinessSeat{
    width: 40px;
    height: 50px;
    float: left;
    content: url(/resources/upload/air/air_icon3.png);
    cursor: pointer;
}
.BusinessDisable{
    width: 40px;
    height: 50px;
    float: left;
    content: url(/resources/upload/air/air_icon3-3.png);
    cursor: pointer;
}
.Service_Img{
    content: url(/resources/upload/air/airService_Img.png);
    width: 100%;
    height: 300px;
}
.EconomyMenu{
    width: 100%;
    height: 650px;
}
.EconomyBlock{
    width: 33%;
    height: 50px;
    float: left;
}
.EconomySeat{
    width: 35px;
    height: 100%;
    float: left;
    content: url(/resources/upload/air/air_icon2.png);
    cursor: pointer;

}
.EconomyDisable{
    width: 35px;
    height: 100%;
    float: left;
    content: url(/resources/upload/air/air_icon2_3.png);
    cursor: pointer;
}
.EconomyLastBlock{
    padding-left: 30px;
}
.EconomyLine{
    width: 100%; 
    height:60px; 
    text-align: center;
    padding-left: 15px;
}
.SelectSeatMenu{
    width: 100%; 
    height:300px;
    margin-bottom: 80px;
}
.SelectSeat{
    width: 100%;
    height: 50px;
    border: 2px solid black;
}
.startSelectSeat{
    background-color: #dbf5b3;
    margin-bottom: 5px;
}
.EndSelectSeat{
    background-color: #f5e6b3;
}
.addSeat{
    display: block;
    float: left;
    width: 80px;
    height: 44px;
    line-height: 35px;
    border: 3px solid rgb(90, 30, 255);
    border-radius: 10px;
    font-size: 30px;
    color: rgb(91, 83, 83);
    margin: 0px 20px;
}
.nextMenu{
    margin-top: 30px;
    width: 25%;
}

.airTable2 tbody{
    height: 60px;
}
.airTable2 tr>td, th{
    width:8%;
    font-size: 20px;
    text-align: center;
}
.airTable2 tr>td:nth-child(7){
    width: 10%;
}
.airTable2 tr>td:last-child{
    width: 15%;
}
.airTable2>thead{
    background-color: #B3BEF5;
}
.addEndPay, .addStartPay, .addEndSeatNum, .addStartSeatNum{
    color: #dc3545;
}
.terms{
    margin-top: 50px;
    width: 100%;
    height: 1000px;
    background-color: rgb(229, 229, 229);
}
.termsTextBox{
    width: 80%;
    height: 300px;
}
.btnIcon{
    margin-top: 2px;
    margin-left: 120px;
    float: left;
    color: rgb(67, 67, 67);
}
.btnText{
    margin-left: 20px;
    float: left;
    font-size: 20px;
}
.airTable3Tool{
    margin-bottom: 100px;
}
.airTable3{
    width: 100%;
    margin: 50px 0px auto;
    border: 1px solid #444444;
}
.airTable3 tr>th{
    width: 15%;
    height: 80px;
    text-align: center;
    background-color: #B3BEF5;
}
.airTable3 tr>td{
    width: 18%;
    border: 1px solid #444444;
}
.nextMenu2{
    margin-right: 50px;
}

.airTable4{
    width: 100%;
    height: 100px;
    margin: 50px 0px auto;
}
.airTable4 tbody{
    height: 60px;
}
.airTable4 tr>td, th{
    width:8%;
    font-size: 20px;
    text-align: center;
}
.airTable4 tr>td:nth-child(5){
    width: 15%;
}
.airTable4 tr>td:last-child{
    width: 10%;
}
.airTable4>thead{
    background-color: #B3BEF5;
}
.payTable{
    width: 100%;
    text-align: center;
}
.payTable tr>th{
    width: 25%;
    height: 45px;
    background-color: #fb8014;
    border: 1px solid #444444;
    font-size: 20px;
    color: #fff;
}
.payTable tr>td{
    width: 75%;
    text-align: left;
    border: 1px solid #444444;
    font-size: 25px;
    padding-left: 20px;
}
.couponSelect{
    width: 100px;
    font-size: 20px;
    margin-left: 50px;
}
.airTable5{
    width: 100%;
}
.airTable5 tr>th:nth-child(n+1){
    width: calc(100%/5);
    font-size: 15px;
}
.airTable5 tr>th:first-child{
    width: 10%;
    font-size: 8px;
}
.airTable5 tbody>tr>td{
    font-size: 18px;
}
.nextMenu3{
    float: right;
    margin-top: 30px;
    width: 25%;
    margin-right: 50px;
}
.payCompleteBtn{
    float: right;
    margin-top: 30px;
    width: 25%;
}