.airImgSize{
    width:100%;
    height:800px;
}
.selectmenu{
    height:100px;
}
.selectmenu>*{
    align-self: center;
}
tr .btn-warning{
    color:#fff;
}
td{
    text-align: center;
}
.btn-check{
    width:10%;
}
.modal>.modal-dialog{
    width:600px;
    max-width:600px;
}
.routeMenu>*{
    text-align:center;
    line-height: 50px;
}
.forTable>td{
    padding:0 auto;
    line-height: 42px;
}
