.orderNavi>div{
    float: left;
}
.orderNavi{
    margin-top: 50px;
    width: 100%;
    height: 180px;
}

.orderNavi>div{
    width: calc(100%/7);
    height: 100%;
    text-align: center;
}
.orderDiv{
    border: 2px solid rgb(78, 71, 71);
    background-color: rgb(255, 255, 255);
    font-size: 25px;
}
.orderDiv>div{
    height: 150px;
    line-height: 50px;
    margin-top: 10px;
}
.Proceeding{
    background-color: rgb(160, 160, 160);
    color: aliceblue;
}
.nextBar{
    font-size: 50px;
    line-height: 180px;
}

.airTableBase{
    width: 100%;
    height: 400px;
    margin-top: 100px;
}
.airTableBase table, th, td{
    text-align: center;
}
.airTableTitle{
    width: 100%;
    height: 50px;
    font-size: 22px;
    background-color: burlywood;
}
.airTableTitle>div{
    text-align: center;
    line-height: 50px;
}
.airTableTitleRoute{
    text-align: center;
}
.airTable{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
.airTable tbody{
    height: 60px;
}
.airTable tr>td, th{
    width:calc(100%/7);
    font-size: 20px;
}
.airTable>thead{
    background-color: #B3BEF5;
}
.airTableST{
    margin-bottom: 50px;
}

.test_obj{
    width: 32%;
    height: 100%;
}
.test_obj>span{
    width: 100%;
    height: 100%;
    font-size: 25px;
}
.test_obj input[type="radio"] {
    display: none;
}
.test_obj input[type="radio"] + span {
    display: inline-block;
    border: 2px solid #dc3545;
    border-radius: 0.25rem;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    color: #dc3545;
}
.test_obj input[type="radio"]:checked + span {
    background-color: #dc3545;
    color: #ffffff;
}
.test_obj input[type="radio"]:hover + span{
    background-color: #dc3545;
    color: #ffffff;
}
.VipLine{
    width: 100%; 
    height:100px; 
    text-align: center;
}
.VipBlock{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 3px auto;
}
.VipSeat{
    width: 80px;
    height: 100px;
    float: left;
    content: url(/resources/upload/air/air_icon.png);
}
.VipBlank{
    float: left;
    width: calc(100% - 160px);
    height: 100%;
}
.VipFront{
    width: 50%;
    height: 40px;
    margin: auto;
    text-align: center;
    border: 2px solid red;
    font-size: 22px;
}
.Result{
    width: 100%;
    height: 80px;
    background-color: rgb(162, 162, 162);
    border: 1px solid black;
    display: flex;
}
.Result>div{
    color: #fff;
    font-size: 22px;
    margin: auto;
    margin-top: 20px;
    
}